# {{ data.metadata.title }} {{ data.metadata.emoji }}
![Banner]({{ data.content.header.image }})

## {{ data.metadata.subtitle }}

{% if data.metadata.language == "en" %}
{% include "en.md.j2" %}
{% else %}
{% include "es.md.j2" %}
{% endif %}
